#anime {
  position: relative;
  color: #333333;
  font-weight: 700;
  animation: 5s linear infinite slidein;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.02);
}

@keyframes slidein {
  0% {
    left: 0px;
  }
  100% {
    left: 500px;
  }
}
